.App section {
  text-align: center;
  margin: 10px 5px;
  color: rgb(56, 57, 73);
  border: solid 1px cadetblue;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgb(98, 107, 126);
  background-color: rgba(244, 252, 252, 0.85);
}
.App {
  text-align: center;
  margin: 20px;
}
